:root{
  --primary-color:#d764d7;
  --text-dark:#000;
  --text-light:#8e7e7e;
  --extra-light:#faf5ff;
  --max-width:1200px;
}

.nav_content > *{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

a{
  text-decoration: none;
}

.checkbox{
  display: none;
}

.checkbox i{
  font-size: 2rem;
  color: var(--text-dark);
  cursor: pointer;
}

nav input.check{
  display: none;
  
}

.Cart a img{
  position: relative;
  top: 10px;
  left: 0px;
}

.Cart span{
  display: flex;
  text-align: center;
  position: relative;
  bottom: 30px;
  left: 15px;
  background-image: url(../images/circle.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


nav{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-image:url(../images/ivory-off-white-paper-texture.svg);
}



.nav_content{
  max-width: var(--max-width);
  margin: auto;
  padding: 1.rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

nav .logo-icon {
  top: 22px;
  left: 45px;
  width: 98px;
  height: 107px;
  padding: 40px;

  background-color:var(--primary-color);
}

.nav_content > input{
  border-radius: 20%;
}

ul{
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
  transition: left 0.3s;

}

ul li a{
  color: #000;
  font-family: Kavoon;
  
}

ul li a:hover{
  border-top-color:var(--primary-color) ;
  border-bottom-color: var(--primary-color);
  color: var(--primary-color);
}

.cart-text,.log-text{
  display: none;
}

.shadow{
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0,0,0,0.1) inset;
}

.shadow:before,
.shadow:after
{ 
 content:'';
 position: absolute;
 z-index: -1;
 box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}



@media screen and (max-width: 750px) {
nav{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-image:url(../images/ivory-off-white-paper-texture.jpg);
}

.nav_content{
  height: 100%;
}

nav .logo-icon {
  width: 65px;
  height: 55px;
  padding: 40px;
  
  background-color:var(--primary-color);
}

nav .searchbox{
  display: block;

  
}

.checkbox{
  display: block;
}

.nav_content>*{
  margin-left: 0;
}



ul{
  position: absolute;
  width: 145px;
  max-height: var(--max-width) !important;
  min-height: 400%;
  left: -110%;
  top: 140px;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  margin:0%;
  padding-left: 0%;
  background-color: #000;
  background-position: bottom;
  background-size: cover;
}


  
@media screen and (max-height:550px) {
  ul{
      min-height: 300%;
      left: -110%;
      top: 140px;
    
  }    
}

@media screen and (min-height:600px) {
  ul{
    min-height: 725px;
  }
  
}

@media screen and (max-height:750px){
  ul{
    min-height: 600px;
  }
}

@media screen and (min-height:900px) {
  ul{
    min-height: 800px;
  }
  
}

ul li a{
    color: #fff !important;
}

ul li a:hover{
  color: var(--primary-color) !important;
}

nav #check:checked ~ ul{
  left: 0;
}

ul li img{
  display: none;
}

.cart-text,.log-text{
  display: flex;
  font-family: Kavoon;
  color: #fff;
}

.log-text:hover{
  color: var(--primary-color);
}

.cart-text:hover{
  color: var(--primary-color);
}

.Cart span{
  display:none !important;
}


section{
  position: relative !important;
  left: auto !important;
  top: 27.5vh;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
  margin-bottom: 68% !important;
  max-width: 356px !important;
  max-height: 632px!important;
  background-image: url(../images/cartframe-mobile.svg);
  background-repeat: no-repeat;
  border-radius: 40px !important;
  border: 5px solid black !important;
  background-position: 0px 10px;
  
}

.product-container {
  min-width: 100% !important;
  row-gap: 20% !important;
  height: 79.563% !important;
  width: 100% !important;
  top: 30% !important;
  overflow: scroll;
  overflow-x: hidden;
}

.cart-container{
  background-image: none !important;
  border-radius: none !important;
  border: none !important;
  width: 100% !important;
}

.summary-section {
  min-width: 100% !important;
  height: 42.8797% !important;
  width: 100% !important;
  background-image: none !important;
  border: none !important;
  border-radius: 0% !important;
}

.order-summary{
  width:auto !important;
}

.date-time{
  left: 0px !important;
  padding-top: 10px ;
}

h2,hr {
  display: none !important;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.name {
  font-size: 14px !important;
}

small{
  font-size: 11px;
}

.item{
  top: 20px;
  left: auto !important;
}


.product {
  row-gap: 5% !important;
  width: 92.078% !important;
  height: 30.42% !important;
  flex-wrap: nowrap !important;
  top: auto !important;
}


.subtotal, .delivery {
  border-bottom: 2px solid black !important;
  padding-bottom: 2px !important;
  font-size: 16px !important;
}

span.price{
  font-size: 16px !important;
}


.total {
  font-weight: 700;
  font-size: 32px !important;
  margin-bottom: 0px;
  margin-top: 20px;
}

img.checkout {
  background-image: none !important ;
  display: none;
}

.checkout-mobile{
  display: flex !important;
  min-width: 122px !important;
  min-height: 33px !important;
}

@media screen and (width<420px) {
  section {
    overflow: scroll;
    overflow-y: hidden; 
    right: 15px !important;
 }
 @media screen and (width<399px) and (width>374px) {
  section{
    min-width: 356px !important;

  }
 }

}

.banner{
  display: none !important;
}

}


.checkout-mobile{
 display: none;
}



body {
  display: flex;
  width: 100%;
  height: 100%;
  background-image:url(../images/ivory-off-white-paper-texture.svg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
  justify-content: center;
}






section{
  position: relative;
  height: 1150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: Karma;
  width: 90%;
  gap: 9.8%;
  padding: 0px; 
}

.item{
  position: relative;
  width: 95px;
  height: 26px;
  left: -15px;
  background-image: url(../images/button_background.svg);

}

.item button.add{
  background: none;
  padding: 0%;
  border: 0;
  width: 21px;
  height: 19px;
  position: relative;
  left: 28px !important;
  background-image: url(../images/add.svg);
}

.item button.minus{
  background: none;
  padding: 0%;
  border: 0;
  width: 21px;
  height: 19px ;
  position: relative;
  left: 5px;
  background-image: url(../images/minus.svg);
}


.cart-container{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 47.19%;
  background-image: url(../images/cart.png);

  height: 612px;
  border-radius: 40px ;
  border: 5px solid black ;
}


.product-container{
  position: relative;
  display: flex;
  flex-direction: column;
  top: 5%;
  width:100%;
  height: 62%;
  row-gap: 10%;
}

.banner{
  width: 100%;
  height: 70px;
  background-color: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.banner span{
  color: #fff;
  font-size: 24px;
  font-weight: 300;
}

span.prod{
  margin-right:25%;
}
span.quan{
  margin-left:5%;
}
span.pri{
  margin-right:5%;
}

.product{
  display: flex;
  width: 86.88%;
  height:12.74%;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap:wrap;
  position: relative;
  left: 5%;
}

.prod_detail{
  display: flex;
  width: 59%;
  height: 100%;
  gap: 18px;
}

.product img{

  display: flex;
  width: 82px;
  height: 78px;
}


.name{
  font-size: 20px;
  font-weight: 700;
}










/*-------------------------cart----------------------------*/

button.checkout{
  width: 100%;
  height: 100%;
  border:none;
  background-color: transparent;

}

button.add-to-plan{
  background-image: url(../images/add-to-plan.svg);
}


.summary-section{
  position: relative;
  display: flex;
  position: relative;
  justify-content: center;
  border-radius: 40px ;
  border: 5px solid black ;
  top: auto ;
  width: 42.6% ;
  padding: 0px;
  align-items: center;
  background-image: url(../images/hhhhhhh.svg);
  background-repeat: no-repeat;

}



.order-summary{
  position: relative;
  justify-content: space-between;
  align-items: center;
  left: 0px;
  top: 0px;
  right: 65vh;
  width: 85%;
  

}


.total{
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 0px; ;
}

.subtotal, .delivery{
  font-size: 32px;
}



h2{
  font-family: Kavoon;
  font-size: 32px;
}


span.price{
  display: flex;
  font-size: 32px;
  align-content: flex-end !important;
  position: relative;
  flex-wrap: wrap;

}

p{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}



span.Quantity{
  position: relative;
  left: 20px !important;
  bottom: 1px !important;
}

.the-price{
 display: flex;
 justify-content: flex-end;
 font-size: 20px;
}

.item span{
  font-family: Karma SemiBold;
  color: #000;
  font-size: 20px;
}

.date-time{
  display: flex;
  gap: 2.2%;
  position: relative;
  bottom: 20px;
  justify-content: center;
}

.date-time span{
  position: relative;
  font-size: 10px;
  font-weight: 700;
  bottom: 10px;
}

.date-time>*{
  width: 142px;
  border-radius: 10px ;
  border: 2px solid black ;
  box-shadow: inset 0 2px 0px rgba(0, 0, 0, 0.425);
}

.dropdown select{
  border: 0;
  background-color: transparent;
}

.button-section{
  display: flex;
  justify-content: center;
  height:63px;
  width: 100%;
  gap: 10%;
}

form,.add-to-plan{
  width: 44.2%;
  background: none;
  border: none;
}

form{
  border:none;
  background-color: transparent;
}

img.checkout{
  width: 100%;
}