:root{
    --primary-color:#d764d7;
    --text-dark:#000;
    --text-light:#8e7e7e;
    --extra-light:#faf5ff;
    --max-width:1200px;
  }
  
  .nav_content > *{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  
  .checkbox{
    display: none;
  }
  
  .checkbox i{
    font-size: 2rem;
    color: var(--text-dark);
    cursor: pointer;
  }
  
  .check{
    display: none;
    
  }
  a{
    text-decoration: none;
  }
  
  nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-image:url(../images/ivory-off-white-paper-texture.jpg);
  }
  
  
  .nav_content{
    max-width: var(--max-width);
    margin: auto;
    padding: 1.rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  
  nav .logo-icon {
    top: 22px;
    left: 45px;
    width: 98px;
    height: 107px;
    padding: 40px;
  
    background-color:var(--primary-color);
  }
  
  nav.logo-icon a{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    transition: 0.3s;
  }
  
  nav.logo-icon a:hover{
    color:var(--primary-color) ;
  }
  
  .Cart span{
    display: flex;
    text-align: center;
    position: relative;
    bottom: 38px;
    left: 20px;
    background-image: url(../images/circle.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .Cart img{
    position: relative;
    top: 10px;
  }
  
  .nav_content > input{
    border-radius: 20%;
  }
  
  ul{
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    transition: left 0.3s;
  
  }
  
  ul li a{
    color: #000;
    font-family: Kavoon;
    
  }
  
  ul li a:hover{
    border-top-color:var(--primary-color) ;
    border-bottom-color: var(--primary-color);
    color: var(--primary-color);
  }
  
  
  
  .cart-text,.log-text{
    display: none;
    }
      
      
@media (width < 750px) {
nav .searchbox{
    display: block;

    
}

.checkbox{
    display: block;
}

.nav_content>*{
    margin-left: 0;
}



ul{
    position: absolute;
    width: 178px;
    height: 300% !important;
    left: -110%;
    top: 26.5vh;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    margin:0%;
    padding-left: 0%;
    background-color: #000;
}

ul li a{
    color: #fff !important;
}

ul li a:hover{
    color: var(--primary-color) !important;
}

nav #check:checked ~ ul{
    left: 0;
}

ul li img{
    display: none;
}

.cart-text,.log-text{
    display: flex;
    font-family: Kavoon;
    color: #fff;
}

.log-text:hover{
    color: var(--primary-color);
}

.cart-text:hover{
    color: var(--primary-color);
}

.Cart span{
    display:none !important;
}

}

body {
    width: 100%;
    height: 100%;
    background-image:url('../images/ivory-off-white-paper-texture.svg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}

section{
  position: relative;
  background-image: url(../images/ivory-off-white-paper-texture.jpg);
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.nutrition-card{
  display: flex;
  position: relative;
  max-height: 622px;
  top: 27vh; 
  justify-content: center;
  align-items: center;
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center;
  background-attachment: fixed;
}


.nutr-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 100%;


}

img.frame{
  position: relative;
  top: 330px;
}

.circle-chart{
  position: relative;
  left: 25px;
  bottom: 320px;
}

.title{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 300px;
  width: 55%;
}

span.back-to-page{
  display: flex;
  background-image: url(../images/back-btn.svg);
  width: 46.6px;
  height: 48px;
}

span.back-to-page a{
  display: flex;
  width: 46.6px;
}

.info{
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 380px;
  align-items: center;
}

h2{
  font-family: Kavoon;
  font-weight: 400;
  font-size: 48px;
}

h3{
  font-family: Kavoon;
  font-size: 32px;
  margin-bottom: 0px;
}

img.pie-chart:hover{
  content: url(../images/pie-chart-health.svg);
}

.info>*+*{
  display: flex;
  font-family: Karma;
}

.unhealthy-indicator{
  display: flex;
  justify-content: space-between;
  gap:13px;
}

.square{
  background-color: rgb(4, 213, 67);
  display: flex;
  width: 25px;
  height: 23px;
}