:root{
  --primary-color:#d764d7;
  --text-dark:#000;
  --text-light:#8e7e7e;
  --extra-light:#faf5ff;
  --max-width:1200px;
}

.nav_content > *{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.checkbox{
  display: none;
}

.checkbox i{
  font-size: 2rem;
  color: var(--text-dark);
  cursor: pointer;
}

.check{
  display: none;
  
}
a{
  text-decoration: none;
}

nav{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-image:url(../images/ivory-off-white-paper-texture.jpg);
}


.nav_content{
  max-width: var(--max-width);
  margin: auto;
  padding: 1.rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

nav .logo-icon {
  top: 22px;
  left: 45px;
  width: 98px;
  height: 107px;
  padding: 40px;

  background-color:var(--primary-color);
}

nav.logo-icon a{
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}

nav.logo-icon a:hover{
  color:var(--primary-color) ;
}

.Cart span{
  display: flex;
  text-align: center;
  position: relative;
  bottom: 38px;
  left: 20px;
  background-image: url(../images/circle.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Cart img{
  position: relative;
  top: 10px;
}

.nav_content > input{
  border-radius: 20%;
}

ul{
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
  transition: left 0.3s;

}

ul li a{
  color: #000;
  font-family: Kavoon;
  
}

ul li a:hover{
  border-top-color:var(--primary-color) ;
  border-bottom-color: var(--primary-color);
  color: var(--primary-color);
}



.cart-text,.log-text{
  display: none;
  }
    
    
@media (width < 750px) {
  nav .searchbox{
    display: block;

    
  }

  .checkbox{
    display: block;
  }

  .nav_content>*{
    margin-left: 0;
  }



  ul{
    position: absolute;
    width: 178px;
    height: 300% !important;
    left: -110%;
    top: 26.5vh;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    margin:0%;
    padding-left: 0%;
    background-color: #000;
  }

  ul li a{
      color: #fff !important;
  }

  ul li a:hover{
    color: var(--primary-color) !important;
  }

  nav #check:checked ~ ul{
    left: 0;
  }

  ul li img{
    display: none;
  }

  .cart-text,.log-text{
    display: flex;
    font-family: Kavoon;
    color: #fff;
  }

  .log-text:hover{
    color: var(--primary-color);
  }

  .cart-text:hover{
    color: var(--primary-color);
  }

  .Cart span{
    display:none !important;
  }

}


body {
  width: 100%;
  height: 100%;
  background-image:url(../images/ivory-off-white-paper-texture.svg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
}

.Cart span{
  display: flex;
  text-align: center;
  position: relative;
  bottom: 38px;
  left: 20px;
  background-image: url(../images/circle.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Cart img{
  position: relative;
  top: 10px;
}

ul li a{
  font-family: Kavoon;
  color: #000;
}

section{
  position: relative;
  background-image: url(../images/ivory-off-white-paper-texture.jpg);
  width: auto;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.recipeContainer{
  position: relative;
  width: 100%;
  top: 27vh; 
  background-image: url(../images/ivory-off-white-paper-texture.jpg);
  justify-content: center;
  align-items: center;
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.custom_section{
  width:100%;
  min-height: 339px;
  align-content: center;
  background-image: url(../images/recipe\ pattern.png); 
  background-size:cover;
  background-repeat:no-repeat;
  background-position: top;
  justify-content: center;
  align-items: center;
  
}

.recipes_section{
  display: flex;
  justify-content: space-around;
  overflow: scroll;
  overflow-y: hidden;
  
}

.tag_section{ 
  width:100%;
  align-content: center;
  overflow: scroll;

}

.tag_list{
  width:100%;
  display: flex;
  padding-left: 11.71%;
  justify-content: space-between;
  align-items: center;
  gap: 5.25rem;


}

.sorted_section{
  position: relative;
  max-width: 1200px;
  padding-top: 60px;
  margin-left: 11.71%;
}

.sectionContainer{
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem;
  position: relative;
  top: 10vh;
  
}

.menu_card{
  width: 353px;
  height: 424px;
}

.serving{
  background-image: url(../images/serving__hat.svg);
  width: 100%;
  
}

select{
  position: relative;
  display: flex;
  align-items: center;
  left: 70px; 
  width: 80%;
  height: 51px;
  appearance: none;
  background-color: transparent;
  font-family: Karma;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  border: none;
}

option{
  background-color: #000;
  font-weight: 700;
}


.fish_chips{
  width: 353px;
  height: 366px;
  background-image:url(../images/F&C.svg) ;
}

.Green_salad{
  width: 353px;
  height: 366px;
  background-image:url(../images/G&S.svg) ;
}

.Beef_Kabab{
  width: 353px;
  height: 366px;
  background-image:url(../images/B&K.svg) ;

}

.item{
  position: relative;
  width: 95px;
  height: 26px;
  background-image: url(../images/add-to-cart.svg);
  top: -170px;
  left: 125px;
  background-position: center;
  transition: 0.3s;
}

.item:hover{
  background-image: url(../images/addtocart-hover.svg);
}

.item button.add{
  background: none;
  padding-right: 9px;
  border: 0;
}

.item button.minus{
  background: none;
  padding-left: 9px;
  border: 0;
}

.item span{
  font-family: Karma SemiBold;
  color: #000;
  font-size: 20px;
}




.get-started-button {
  height: 13.47%;
  width: 45.84%;
  top: 79.58%;
  right: 65.14%;
  bottom: 15.93%;
  left: 19.58%;
  font-size: 20px;
  color: #fff;
  font-family: Kavoon;
  }
.button-child {
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: 13.5px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  }    