:root{
    --primary-color:#d764d7;
    --text-dark:#000;
    --text-light:#8e7e7e;
    --extra-light:#faf5ff;
    --max-width:1200px;
}
 
.nav_content > *{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.checkbox{
 display: none;
}

.checkbox i{
    font-size: 2rem;
    color: var(--text-dark);
    cursor: pointer;
}

.check{
    display: none;

}
a{
    text-decoration: none;
}

nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-image:url(images/ivory-off-white-paper-texture.svg);
}


.nav_content{
    max-width: var(--max-width);
    margin: auto;
    padding: 1.rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

nav .logo-icon {
    top: 22px;
    left: 45px;
    width: 98px;
    height: 107px;
    padding: 40px;

    background-color:var(--primary-color);
}

nav.logo-icon a{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    transition: 0.3s;
}

nav.logo-icon a:hover{
    color:var(--primary-color) ;
}

.Cart span{
    display: flex;
    text-align: center;
    position: relative;
    bottom: 38px;
    left: 20px;
    background-image: url(images/circle.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Cart img{
    position: relative;
    top: 10px;
}

.nav_content > input{
    border-radius: 20%;
}

ul{
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    transition: left 0.3s;

}

ul li a{
    color: #000;
    font-family: Kavoon;

}

ul li a:hover{
    border-top-color:var(--primary-color) ;
    border-bottom-color: var(--primary-color);
    color: var(--primary-color);
}




.bubble_button{
    position: relative;
    top: 120px;
    right: 83%;
}

.why-choose-us-child {
    position: relative;
    width: 1470px;
    top: 0px;
    left: 0px;
    background-color: #000; 
    height: 71px;
    padding-bottom: 10px;
}

.why-choose-us2 {
    position: relative;
    top: 0px;
    left: 0px;
    width: var(--max-width);
    height: 383px;
}

.why-choose-us1 {
    position: relative;
    top: 0px;
    left: 0px;
    width: var(--max-width);
    height: 1092px;
    font-size: 48px;
}

.text {
    position: relative;
    top: 383px;
    left: px;
    letter-spacing: -0.41px;
    line-height: 22px;
    width: 516px;
    }
.text1 {
    position: relative;
    top: 563px;
    left: 0px;
    letter-spacing: -0.41px;
    line-height: 22px;
    width: 516px;
}
.text2 {
    position: relative;
    top: 743px;
    left: 0px;
    letter-spacing: -0.41px;
    line-height: 22px;
    width: 516px;
}



.featureContainer {
    position: relative;  
    max-width:560px;
    margin: auto;
    padding: 1.rem;
    left: 171px;
    align-items: center;
    justify-content: space-between;   
    flex-direction: column;
}
.why-choose-us {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

.feature-container h1{
    font-family: Karma;
    padding-left: 212px;
    padding-top: 228px;
}

.item{
    font-family: Karma;
    left: 171px;
}

.item p{
    max-width: 516px;
}

.why-choose-us h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.footer_content {
    display: flex;
    align-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    gap: 178px;

}

.text-section {
    flex: 1;
    padding-left: 171px;
}

.text-section .item {
    margin-bottom: 20px;
}

.image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 145px;
}

.image {
    border-radius: 15px;
    margin-bottom: 10px;
    max-width: 430px;
    max-height: 427px;
    object-fit: cover;
}


  

  
section{
    position: relative;
    display: flex;
    width: 100%;
    top: 27vh;

}

footer{
    position: relative;
    width: 100%;
    top: 27vh; 
    background-image: url(images/ivory-off-white-paper-texture.jpg);  

}

.sectionContainer{
    display: flex;
    max-width: 1400px;
    margin: auto;
    padding: 1.5rem;
    justify-content: space-between;
    align-items: center; 
}




@media (width < 750px) {
    nav .searchbox{
        display: block;
    
        
    }
  
    .checkbox{
      display: block;
    }
  
    .nav_content>*{
      margin-left: 0;
    }
  
  
  
    ul{
        position: absolute;
        width: 178px;
        height: 300% !important;
        left: -110%;
        top: 26.5vh;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        margin:0%;
        padding-left: 0%;
        background-color: #000;
    }
  
    ul li a{
      color: #fff;
    }

    
    nav #check:checked ~ ul{
      left: 0;
    }
  
}

body{
    width: 100%;
    height: 100%;
    background-image:url(images/ivory-off-white-paper-texture.svg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}


.get-started-button {
    height: 13.47%;
    width: 45.84%;
    top: 79.58%;
    right: 65.14%;
    bottom: 15.93%;
    left: 19.58%;
    font-size: 20px;
    color: #fff;
    font-family: Kavoon;
    }
.button-child {
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 13.5px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    }    
 